{% extends master %}

{% block title %}
    My Tennis Club - List of all members
{% endblock %}

{% load my_custom_filters %}

{% block content %}
    <div class="container-fluid p-5 pt-3">
        <h3 class="text-success">Course search</h3>
        <form method="POST" action="{% url 'Course_Clear_check' %}" style="float: right;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger ">Clear All Reservation</button>
            </form>
        <form id="searchForm" method='POST'>
            {% csrf_token %}

            Session：{{ course_reservation_Filter.form.Period }}
            Code：{{ course_reservation_Filter.form.Course_code }}
            Week：{{ course_reservation_Filter.form.week }}
            Level：{{ course_reservation_Filter.form.Category }}
            <input type="submit" id="searchButton" class="ms-3 btn btn-primary" value="Search"/>
        </form>
        <br/>
{#        <table class="table d-none" style=" max-width: 1500px">#}
        <table id="courseTable" class="table {{ cls }}" style=" max-width: 1500px">
            <thead>
            <th>Session</th>
            <th>Code</th>
            <th>Level</th>
            <th>Coach</th>
            <th>Week</th>
            <th>Class time</th>
{#            <th>Maximum Class Size</th>#}
            <th>Current Enrollment</th>
            <th>Current Enrollment</th>
            <th></th>
            </thead>
            <tbody>
            {% for course_reservation in course_reservation_Filter.qs|dictsort:"class_time_start" %}
                <tr  {% if Course_reservation.Course_code in reserved_course_codes %}style="color: crimson"{% endif %} >
                    <td>{{ course_reservation.Period }}</td>
                    <td>{{ course_reservation.Course_code }}</td>
                    <td>{{ course_reservation.Category }}</td>
                    <td>{{ course_reservation.Coach_name }}</td>
                    <td>{{ course_reservation.week }}</td>
                    <td>{{ course_reservation.class_time_start }}~{{ course_reservation.class_time_end }}</td>
{#                    <td>{{ course_reservation.Full_number_applicants }}</td>#}
                    <td>{{ course_reservation.Current_number_applicants }}</td>
                <td class=""> <a id="{{ course_reservation.Course_code}}_Course_Reservation" class="nav-link btn btn-light"
                href="/Course_reservation/Course_content?code={{ course_reservation.Course_code }}">Course Reservation</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="loaderAnimation" class="d-none loader-animation">
            <div class="loader-container">
                <div class="loader"></div>
                <div id="loading-text" class="loading-text">loading...</div>
                <button id="showResultsButton" class="d-none btn btn-primary showResultsButton">Show Search Results</button>
            </div>
    </div>

    <script>

    document.getElementById('searchForm').addEventListener('submit', function(event) {
        {#// 防止表單的默認提交行為#}
        event.preventDefault();

        // 顯示 loader 動畫
        document.getElementById('loaderAnimation').classList.remove('d-none');
        // 隱藏表格
        document.getElementById('courseTable').classList.add('d-none');

        // 延遲三秒後再顯示表格
         setTimeout(function() {
            // 隱藏 loader 動畫
            document.getElementById('loading-text').classList.add('d-none');
            // 顯示顯示搜索結果按鈕
            document.getElementById('showResultsButton').classList.remove('d-none');
        }, 7000); // 3000 毫秒為三秒
    });

     // 當按鈕被點擊時顯示搜索結果
    document.getElementById('showResultsButton').addEventListener('click', function() {

        // 顯示搜索結果表格
        document.getElementById('courseTable').classList.remove('d-none');

        //提交表單
        document.getElementById('searchForm').submit();

        // 隱藏搜索結果按鈕
        document.getElementById('showResultsButton').classList.add('d-none');


    });

</script>
{% endblock %}
