{% extends "master.html" %}

{% block title %}
    My Tennis Club - List of all members
{% endblock %}

{% load my_custom_filters %}

{% block content %}
    <div class="container-fluid p-5 pt-3">
        <h3 class="text-success">課程搜尋</h3>
        <form method='POST'>
            {% csrf_token %}
            期別：{{ course_reservation_Filter.form.Period }}
            課程代碼：{{ course_reservation_Filter.form.Course_code }}
            課程等級：{{ course_reservation_Filter.form.Category }}
            課程狀態：{{ course_reservation_Filter.form.Class_status }}
            <input type="submit" class="ms-3 btn btn-primary" value="查詢"/>
        </form>
        <br/>
        <table class="table" style=" max-width: 1500px">
            <thead>
            <th>期別</th>
            <th>課程代碼</th>
            <th>課程等級</th>
            <th>授課教師</th>
            <th>課程狀態</th>
            <th>滿班人數</th>
            <th>目前報名人數</th>
            <th></th>
            </thead>
            <tbody>
            {% for course_reservation in course_reservation_Filter.qs %}
                <tr>
                    <td>{{ course_reservation.Period }}</td>
                    <td>{{ course_reservation.Course_code }}</td>
                    <td>{{ course_reservation.Category }}</td>
                    <td>{{ course_reservation.Coach_name }}</td>
                    <td>{{ course_reservation.Class_status }}</td>
                    <td>{{ course_reservation.Full_number_applicants }}</td>
                    <td>{{ course_reservation.Current_number_applicants }}</td>
                <td class=""> <a class="nav-link btn btn-light"
                href="/Course_reservation/Course_content?code={{ course_reservation.Course_code }}">預約課程</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}