{% extends master %}

{% block title %}
    My Tennis Club - List of all members
{% endblock %}

{% load my_custom_filters %}

{% block content %}
    <div class="container-fluid p-5 pt-3">
        <h3 class="text-success">Course search</h3>
        <form id="searchForm" method='POST'>
            {% csrf_token %}
            Session：{{ course_reservation_Filter.form.Period }}
            Code：{{ course_reservation_Filter.form.Course_code }}
            Week：{{ course_reservation_Filter.form.week }}
            Level：{{ course_reservation_Filter.form.Category }}
            <input type="submit" id="searchButton" class="ms-3 btn btn-primary" value="Search"/>
        </form>
        <br/>
{#        <table class="table d-none" style=" max-width: 1500px">#}
        <table id="courseTable" class="table" style=" max-width: 1500px">
             <thead>
            <th>Session</th>
            <th>Code</th>
            <th>Level</th>
            <th>Coach</th>
            <th>Week</th>
            <th>Class time</th>
{#            <th>Maximum Class Size</th>#}
            <th>Current Enrollment</th>
            <th>Current Enrollment</th>
            <th></th>
            </thead>
            <tbody>
            {% for course_reservation in course_reservation_Filter.qs|dictsort:"class_time_start" %}
                <tr>
                    <td>{{ course_reservation.Period }}</td>
                    <td>{{ course_reservation.Course_code }}</td>
                    <td>{{ course_reservation.Category }}</td>
                    <td>{{ course_reservation.Coach_name }}</td>
                    <td>{{ course_reservation.week }}</td>
                    <td>{{ course_reservation.class_time_start }}~{{ course_reservation.class_time_end }}</td>
{#                    <td>{{ course_reservation.Full_number_applicants }}</td>#}
                    <td>{{ course_reservation.Current_number_applicants }}</td>
                <td class=""> <a id="{{ course_reservation.Course_code }}_Course_Reservation" class="nav-link btn btn-light"
                href="/Course_reservation/Course_content?code={{ course_reservation.Course_code }}">Course Reservation</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        {#// 防止表單的默認提交行為#}
        event.preventDefault();

        // 隱藏表格
        document.getElementById('courseTable').classList.add('d-none');

        // 延遲七秒後再顯示表格
        setTimeout(function() {
            document.getElementById('courseTable').classList.remove('d-none');
            document.getElementById('searchForm').submit();
        }, 7000); // 7000 毫秒為七秒
    });
</script>
{% endblock %}
