{% extends master %}

{% block title %}
My Tennis Club - List of all members
{% endblock %}

{% block content %}

<div class="container-fluid p-5 pt-3">
{#    <h3 class="text-success">Course Content check<h3>#}
        <h1 class="alert alert-danger">Warning: Clicking confirm will cancel all confirmed course reservations. This action cannot be undone.
        <div class="d-flex justify-content-center mb-3">
{#            <h1>警告：按下確認後，所有已經預約的課程將被取消。這一操作無法撤銷。</h1>#}
            <a class="" style="opacity: 0.5;width: 80px;height: 30px; background-color: white;font-size: 0.875rem;margin-top: 13.2px;border-radius: 2px;text-decoration: none;color: black;display: flex; align-items: center;justify-content: center;"
{#            <a class="btn btn-light btn-sm" style="opacity: 0.5;margin-top: 5px"#}
{#                     <a class="mt-2 btn btn-sm px-2 gap-3 btn-primary"#}
                        href="/Course_reservation/">Return</a>

            <form method="POST" action="{% url 'Course_Clear' %}" >
                {%csrf_token %}
{#                <a class="mt-2 btn btn-light btn-sm px-2 gap-3">Clear All Reservation</a>#}
                <button type="submit" class="ms-3 btn btn-sm btn-danger">Clear All Reservation</button>
            </form>
        </div>
        </h1>


</div>


{% endblock %}