{% extends "master.html" %}

{% block title %}
    My Tennis Club - List of all members
{% endblock %}

{% block content %}

    <div class="container-fluid p-5 pt-3">
        <h3 class="text-success">已預約課程</h3>
        <td width="10%" class="p-0">
            <table class="table">
                {% for Course_reservation in Course %}
                    <tr>
                        <td>
                            期別：{{ Course_reservation.Period }}<br>
                            課程代碼：{{ Course_reservation.Course_code }}<br>
                            授課教師：{{ Course_reservation.Coach_name }}<br>
                            預約人：{{ Course_reservation.Student_id }}<br>
                            登記時間：{{ Course_reservation.Create_time }}<br>
                            預約狀態：{{ Course_reservation.State }}<br>
                            <a class="mt-2 btn btn-light btn-sm px-2 gap-3"
                               href="Coursereservation?code={{ Course_reservation.Course_code }}&cancel=True">取消預約</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </div>

    {% if msg %}
        <script>
           alert('{{ msg }}')
        </script>
    {% endif %}

{% endblock %}