{% extends "master.html" %}

{% block title %}
    My Tennis Club - List of all members
{% endblock %}

{% block content %}

    <div class="container-fluid p-5 pt-3">
        <h3 class="text-success">Course reservation record</h3>
        <td width="10%" class="p-0">
            <table class="table">
                {% for Course_reservation in Course %}
                    <tr>
                        <td>
                            Session：{{ Course_reservation.Period }}<br>
                            Code：{{ Course_reservation.Course_code }}<br>
                            Coach：{{ Course_reservation.Coach_name }}<br>
                            Appointee：{{ Course_reservation.Student_id }}<br>
                            Registration Time：{{ Course_reservation.Create_time }}<br>
                            Reservation Status：{{ Course_reservation.State }}<br>
{#                            <a class="mt-2 btn btn-light btn-sm px-2 gap-3"#}
{#                               href="Coursereservation?code={{ Course_reservation.Course_code }}&cancel=True">取消Reservation</a>#}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </div>

    {% if msg %}
        <script>
           alert('{{ msg }}')
        </script>
    {% endif %}

{% endblock %}