{% extends "master.html" %}

{% block title %}
    My Tennis Club - List of all members
{% endblock %}

{% load my_custom_filters %}

{% block content %}
    <div class="container-fluid p-5 pt-3">
        <h3 class="text-success">課程查詢</h3>
        <form method='POST'>
            {% csrf_token %}
            期別：{{ course_reservation_Filter.form.Period }}
            課程代碼：{{ course_reservation_Filter.form.Course_code }}
            課程名稱：{{ course_reservation_Filter.form.Category }}
            課程狀態：{{ course_reservation_Filter.form.Class_status }}
            <input type="submit" class="btn btn-primary" value="查詢"/>
        </form>
        <br/>
        <table class="table">
            <thead>
            <th>期別</th>
            <th>課程代碼</th>
            <th>課程名稱</th>
            <th>課程狀態</th>
            <th>滿班人數</th>
            <th>目前報名人數</th>
            </thead>
            <tbody>
            {% for course_reservation in course_reservation_Filter.qs %}
                <tr>
                    <td>{{ course_reservation.Period }}</td>
                    <td>{{ course_reservation.Course_code }}</td>
                    <td>{{ course_reservation.Category }}</td>
                    <td>{{ course_reservation.Class_status }}</td>
                    <td>{{ course_reservation.Full_number_applicants }}</td>
                    <td>{{ course_reservation.Current_number_applicants }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {##}
        {#        <form class="d-flex justify-content-start align-items-center">#}
        {#            期別：#}
        {#            {% for Period in Period_list %}#}
        {#                {{ Course_reservation.Period }}；#}
        {#                <input class="m-1" type="radio" id={{ Period }} name="Period_list"#}
        {#                       value={{ Period }}>#}
        {#                <label for={{ Period }}>{{ Period }} </label>#}
        {#            {% endfor %}#}
        {#            <input type="submit" value="提交">#}
        {#        </form>#}

        {#        <div class="Category">課程名稱：</div>#}
        {#        <div class="Time_period">時段：</div>#}
        {#        <div class="Course_code">課程代碼：</div>#}
        {#        <div class="Class_status">顏色說明：</div>#}
        <br>

        <table class="table table-striped table-bordered">
            <tr>
                {#                <th> 時段</th>#}
                <th> 星期一</th>
                <th> 星期二</th>
                <th> 星期三</th>
                <th> 星期四</th>
                <th> 星期五</th>
                <th> 星期六</th>
                <th> 星期日</th>
            </tr>
            {#            <td width="9%" rowspan="5">这个单元格横跨三列</td>#}
            <tr>
                <td width="10%" class="p-0">
                    <table class="table">
                        {% for Course_reservation in Course_reservation_list %}
                            <tr>
                                <form name='my form' action='Course_content/' method='GET'>
                                    {% if Course_reservation.week == "星期一" %}
                                        <td>
                                            期別：{{ Course_reservation.Period }}<br>
                                            授課教師：{{ Course_reservation.Coach_name }}<br>
                                            課程名稱：{{ Course_reservation.Category }} <br>
                                            課程代碼：{{ Course_reservation.Course_code }} <br>
                                            授課教室：{{ Course_reservation.Classroom }} <br>
                                            {{ Course_reservation.Time_start }}~{{ Course_reservation.Time_end }}<br>
                                            {{ Course_reservation.Time_start | week }}<br>
                                            {{ Course_reservation.class_time_start }}~
                                            {{ Course_reservation.class_time_end }}
                                            <br>
                                            滿班人數：{{ Course_reservation.Full_number_applicants }}人 <br>
                                            目前報名人數：{{ Course_reservation.Current_number_applicants }}人 <br>
                                            <a class="nav-link btn btn-light" href="Course_content/">課程內容</a>
{#                                            <input class="nav-link btn btn-light" type='submit' value='課程內容'>#}
                                            <br>
                                        </td>
                                    {% endif %}
                                </form>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td width="10%" class="p-0">
                    <table class="table">
                        {% for Course_reservation in Course_reservation_list %}
                            <tr>
                                {% if Course_reservation.week == "星期二" %}
                                    <td>
                                        期別：{{ Course_reservation.Period }}<br>
                                        授課教師：{{ Course_reservation.Coach_name }}<br>
                                        課程名稱：{{ Course_reservation.Category }} <br>
                                        課程代碼：{{ Course_reservation.Course_code }} <br>
                                        授課教室：{{ Course_reservation.Classroom }} <br>
                                        {{ Course_reservation.Time_start }}~{{ Course_reservation.Time_end }}<br>
                                        {{ Course_reservation.Time_start | week }}<br>
                                        {{ Course_reservation.class_time_start }}~
                                        {{ Course_reservation.class_time_end }}
                                        <br>
                                        滿班人數：{{ Course_reservation.Full_number_applicants }}人 <br>
                                        目前報名人數：{{ Course_reservation.Current_number_applicants }}人 <br>
                                        課程內容（按鈕） <br>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td width="10%" class="p-0">
                    <table class="table">
                        {% for Course_reservation in Course_reservation_list %}
                            <tr>
                                {% if Course_reservation.week == "星期三" %}
                                    <td>
                                        期別：{{ Course_reservation.Period }}<br>
                                        授課教師：{{ Course_reservation.Coach_name }}<br>
                                        課程名稱：{{ Course_reservation.Category }} <br>
                                        課程代碼：{{ Course_reservation.Course_code }} <br>
                                        授課教室：{{ Course_reservation.Classroom }} <br>
                                        {{ Course_reservation.Time_start }}~{{ Course_reservation.Time_end }}<br>
                                        {{ Course_reservation.Time_start | week }}<br>
                                        {{ Course_reservation.class_time_start }}~
                                        {{ Course_reservation.class_time_end }}
                                        <br>
                                        滿班人數：{{ Course_reservation.Full_number_applicants }}人 <br>
                                        目前報名人數：{{ Course_reservation.Current_number_applicants }}人 <br>
                                        課程內容（按鈕） <br>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td width="10%" class="p-0">
                    <table class="table">
                        {% for Course_reservation in Course_reservation_list %}
                            <tr>
                                {% if Course_reservation.week == "星期四" %}
                                    <td>
                                        期別：{{ Course_reservation.Period }}<br>
                                        授課教師：{{ Course_reservation.Coach_name }}<br>
                                        課程名稱：{{ Course_reservation.Category }} <br>
                                        課程代碼：{{ Course_reservation.Course_code }} <br>
                                        授課教室：{{ Course_reservation.Classroom }} <br>
                                        {{ Course_reservation.Time_start }}~{{ Course_reservation.Time_end }}<br>
                                        {{ Course_reservation.Time_start | week }}<br>
                                        {{ Course_reservation.class_time_start }}~
                                        {{ Course_reservation.class_time_end }}
                                        <br>
                                        滿班人數：{{ Course_reservation.Full_number_applicants }}人 <br>
                                        目前報名人數：{{ Course_reservation.Current_number_applicants }}人 <br>
                                        課程內容（按鈕） <br>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td width="10%" class="p-0">
                    <table class="table">
                        {% for Course_reservation in Course_reservation_list %}
                            <tr>
                                {% if Course_reservation.week == "星期五" %}
                                    <td>
                                        期別：{{ Course_reservation.Period }}<br>
                                        授課教師：{{ Course_reservation.Coach_name }}<br>
                                        課程名稱：{{ Course_reservation.Category }} <br>
                                        課程代碼：{{ Course_reservation.Course_code }} <br>
                                        授課教室：{{ Course_reservation.Classroom }} <br>
                                        {{ Course_reservation.Time_start }}~{{ Course_reservation.Time_end }}<br>
                                        {{ Course_reservation.Time_start | week }}<br>
                                        {{ Course_reservation.class_time_start }}~
                                        {{ Course_reservation.class_time_end }}
                                        <br>
                                        滿班人數：{{ Course_reservation.Full_number_applicants }}人 <br>
                                        目前報名人數：{{ Course_reservation.Current_number_applicants }}人 <br>
                                        課程內容（按鈕） <br>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td width="10%" class="p-0">
                    <table class="table">
                        {% for Course_reservation in Course_reservation_list %}
                            <tr>
                                {% if Course_reservation.week == "星期六" %}
                                    <td>
                                        期別：{{ Course_reservation.Period }}<br>
                                        授課教師：{{ Course_reservation.Coach_name }}<br>
                                        課程名稱：{{ Course_reservation.Category }} <br>
                                        課程代碼：{{ Course_reservation.Course_code }} <br>
                                        授課教室：{{ Course_reservation.Classroom }} <br>
                                        {{ Course_reservation.Time_start }}~{{ Course_reservation.Time_end }}<br>
                                        {{ Course_reservation.Time_start | week }}<br>
                                        {{ Course_reservation.class_time_start }}~
                                        {{ Course_reservation.class_time_end }}
                                        <br>
                                        滿班人數：{{ Course_reservation.Full_number_applicants }}人 <br>
                                        目前報名人數：{{ Course_reservation.Current_number_applicants }}人 <br>
                                        課程內容（按鈕） <br>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td width="10%" class="p-0">
                    <table class="table">
                        {% for Course_reservation in Course_reservation_list %}
                            <tr>
                                {% if Course_reservation.week == "星期日" %}
                                    <td>
                                        期別：{{ Course_reservation.Period }}<br>
                                        授課教師：{{ Course_reservation.Coach_name }}<br>
                                        課程名稱：{{ Course_reservation.Category }} <br>
                                        課程代碼：{{ Course_reservation.Course_code }} <br>
                                        授課教室：{{ Course_reservation.Classroom }} <br>
                                        {{ Course_reservation.Time_start }}~{{ Course_reservation.Time_end }}<br>
                                        {{ Course_reservation.Time_start | week }}<br>
                                        {{ Course_reservation.class_time_start }}~
                                        {{ Course_reservation.class_time_end }}
                                        <br>
                                        滿班人數：{{ Course_reservation.Full_number_applicants }}人 <br>
                                        目前報名人數：{{ Course_reservation.Current_number_applicants }}人 <br>
                                        課程內容（按鈕） <br>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>

    </div>



{% endblock %}