{#沒寫完#}
{#{% extends "master.html" %}#}
{##}
{#{% block title %}#}
{#My Tennis Club#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#    錯誤訊息  #}
{#{% comment %} login fail, show msg {% endcomment %}#}
{#{% if err_login_msg %}#}
{#    <div class="alert alert-danger">#}
{#    <strong>Error:</strong>#}
{#    {{ err_login_msg }}#}
{#    </div>#}
{#{% endif %}#}
{#<div class="container mt-2">#}
{#    <div class='row col-md-4'>#}
{#        <h2 class='text-success'>Login</h2>#}
{#        <h2 class='text-success'>註冊</h2>#}
{#            <form action="." method="post">#}
{#                {% csrf_token %}#}
{#                <div class='mb-3 mt-3'>#}
{#                    <label for="username" class='form-label'>Username: </label>#}
{#                    <label for="username" class='form-label'>帳號： </label>#}
{#                    {{ signinForm.username }}#}
{#                    <input type="text" id="username" name="username"><br>#}
{#                </div>#}
{##}
{#                <div class='mb-3 mt-3'>#}
{#                    <label for="password" class= 'form-label'>Password: </label>#}
{#                    <label for="password" class= 'form-label'>密碼： </label>#}
{#                    {{ login_form.password }}#}
{#                    <input type="text" id="password" name="password"><br>#}
{#                </div>#}
{##}
{#                 <div class='mb-3 mt-3'>#}
{#                    <label for="password" class= 'form-label'>Password: </label>#}
{#                    <label for="password" class= 'form-label'>確認密碼： </label>#}
{#                    <input type="text" id="password" name="password"><br>#}
{#                </div>#}
{##}
{#                <div class="mb-2">#}
{#                    <button type="submit" class="btn btn-primary">建立帳號</button>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#</div>#}
{##}
{#{% endblock %}#}